@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.menu {
  background: #ffb6c1;
  width: 100%;
  height: 40px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
}

#logo {
  margin-left: 110px;
  width: 120px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

body {
  background-color: #ffffff;
  overflow-X: hidden;
}

.box{
    margin-top: 100px;
}

#check {
  display: none;
}

#icone {
  cursor: pointer;
  padding: 32px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 20px;
}

.barra {
  background-color: #ffb6c1;
  height: 100%;
  width: 250px;
  position: fixed;
  transition: all .2s linear;
  left: -250px;

}

nav {
  width: 100%;
  position: absolute;
  top: 80px;
}

nav a {
  text-decoration: none;

}

.Link {
  background-color: #ffb6c1;
  padding: 20px;
  font-family: Bebas Neue;
  font-size: 30px;
  transition: all .3s linear;
  color: #ffffff;
  border-bottom: 1px solid #ffb6c1;
  opacity: 0;
}

.Link:hover {
  background-color: #ffb6c1;
  color: #ffffff;

}

#check:checked~.barra {
  transform: translateX(250px);
}

#check:checked~.barra nav a .Link {
  opacity: 1;
  transition-delay: .3s;
}

#banner1 {
  padding-top: 97px;
  width: 100%;

}

.mburg {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 20px;
  left: 25px;
}

.hamburguer {
  position: relative;
  display: block;
  background: #fff;
  width: 30px;
  height: 3px;
  top: 29px;
  left: 15px;
  transition: .5s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  background: #fff;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}

.hamburguer:before {
  top: -10px;
}

.hamburguer:after {
  bottom: -10px;
}

input {
  display: none;
}

input:checked~label .hamburguer {
  transform: rotate(45deg);
}

input:checked~label .hamburguer:before {
  transform: rotate(90deg);
  top: 0;
}

input:checked~label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}